<div id="page-wrapper">
    <div class="row">
        <h1 class="page-header">Bug Killah 8</h1>
    </div>
    <div class="row">
        <br />
        <h3>Welcome to Bug Killah 8!</h3>
        <p>Start tracking your bugs today! Sign up for a free account and track bugs like a pro!</p>
    </div>
