    <!--
    <div class="row">
        <h1 class="page-header">Bug Killah 8 Registration</h1>
    </div>
    <div class="row">
        <br />
        <h3>Bug Killah 8 registration</h3>
        <p>Start tracking your bugs today! Sign up for a free account and track bugs like a pro!</p>
    </div>
    -->
    <div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Enter your information below:</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="signup.php">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="First Name" name="first_name" type="text" value="<?php if($_SERVER['REQUEST_METHOD'] == 'POST') echo $_POST['first_name']; ?>"autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Last Name" name="last_name" type="text" value="<?php if($_SERVER['REQUEST_METHOD'] =='POST') echo $_POST['last_name']; ?>">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" value="<?php if($_SERVER['REQUEST_METHOD'] == 'POST') echo $_POST['email']; ?>">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Confirm E-mail" name="email_confirm" type="email" value="<?php if($_SERVER['REQUEST_METHOD'] == 'POST') echo $_POST['email_confirm']; ?>">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="pass" type="password" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Confirm Password" name="pass_confirm" type="password" value="">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <!-- <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a> -->
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Register" />
                                <?php
                                echo "<br />";
                                foreach($errors as $err) {
                                    echo "$err <br />";
                                }
                                ?>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
